.Settings-KeysPage {
    user-select: none;
}

.Settings-KeysPage .viewer {
    display: flex;
    margin-top: 16px;
}

.Settings-KeysPage .viewer .list {
    width: 100%;
    margin-left: -16px;
    margin-right: 16px;
}

.Settings-KeysPage .viewer .preview {
    width: 40vw;
    max-width: 420px;
}

.Settings-KeysPage .viewer .preview .qr {
    width: 40vw!important;
    height: 40vw!important;
    max-width: 420px;
    max-height: 420px;
}