@import url(components/Win32TitleBar.css);
@import url(components/Segment.css);
@import url(components/TextArea.css);
@import url(components/DropdownButton.css);
@import url(components/Dialog.css);
@import url(components/Button.css);
@import url(components/Input.css);

body {
    background-color: var(--white);
    font-family: 'Segoe UI', 'Segoe', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
    --white: #fff;
    --grey-1: #88888808;
    --grey-2: #8881;
    --accent: #0067c0;

    --button-bg: #fbfbfb;
    --button-bg-hover: #f6f6f6;
    --button-bg-active: #f5f5f5;
    --button-border: #ebebeb;

    --button-primary-txt: #fff;
    --button-primary-bg: #0064c0;
    --button-primary-bg-hover: #1975C5;
    --button-primary-bg-active: #3183ca;
    --button-primary-border: #1473c5;

    --dialog-mask-bg: #0004;
    --dialog-bg: #ffffff;
    --dialog-border: #8881;
    --dialog-shadow: #0002;
    --dialog-footer-bg: #f3f3f3;
    --dialog-footer-border: #e5e5e5;

    --timing-func-decelerate: cubic-bezier(0, 0, 0, 1);
    --timing-func-accelerate: cubic-bezier(1, 0, 1, 1);
}

@media (prefers-color-scheme: dark) {
    body {
        --white: #101010;
        --grey-1: #88888818;
        --grey-2: #88888820;
        --accent: #4cc2ff;

        --button-bg: #2d2d2d;
        --button-bg-hover: #323232;
        --button-bg-active: #272727;
        --button-border: #303030;

        --button-primary-txt: #000;
        --button-primary-bg: #4cc2ff;
        --button-primary-bg-hover: #47b1e8;
        --button-primary-bg-active: #42a1d2;
        --button-primary-border: #5ac7ff;

        --dialog-mask-bg: #0002;
        --dialog-bg: #2b2b2b;
        --dialog-footer-bg: #202020;
        --dialog-footer-border: #1d1d1d;

        --input-bg: #2d2d2d;
        --input-bg-hover: #323232;
        --input-bg-focus: #1f1f1f;
        --input-border: #303030;
        --input-border-bottom: #9a9a9a;
        --input-border-bottom-focus: #4cc2ff;
    }
}

.main {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.io-area {
    margin-top: 6px;
    border-radius: 6px;
    background-color: var(--grey-2);
    padding: 2vw;
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.io-area>.top {
    display: flex;
    height: calc(70vh - 36px);
}

.io-area>.top>* {
    width: 50%;
    margin: 0;
    padding: 2vw;
    font-size: calc(1vw + 12px);
    margin-bottom: 4px;
    transition: all 0.15s;
}

.io-area>.top>.output {
    word-break: break-all;
    border-left: 1px solid var(--button-border);
    overflow-y: auto;
}

.io-area>.top>.text-smaller {
    font-size: calc(1vw + 8px);
}
