.DropdownButton {
    display: inline-block;
}

.DropdownButton>.DropdownButton-Label {
    display: block;
    font-size: 12px;
    margin: 2px;
    color: #888;
    user-select: none;
}

.DropdownButton>.DropdownButton-Button {
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    outline: none;
    padding: 6px 12px;
    border-radius: 6px;
    margin: 2px;
    user-select: none;
    transition: all 0.15s;
}

.DropdownButton>.DropdownButton-Button:hover, .DropdownButton>.DropdownButton-Button:focus-visible {
    background-color: var(--button-bg-hover);
}

.DropdownButton>.DropdownButton-Button:active {
    background-color: var(--button-bg-active);
}

.DropdownButton>.DropdownButton-Options {
    position: absolute;
    list-style: none;
    width: max-content;
    margin: 0;
    padding: 0;
    background-color: var(--dropdown-button-options-bg);
    backdrop-filter: var(--filter-acrylic);
    box-shadow: 0px 4px 8px #00000000;
    border: 1px solid #8888881f;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(var(--overflow-offset));
}

.DropdownButton>.DropdownButton-Options.open {
    padding: 2px;
    box-shadow: 0px 8px 16px #00000024;
    opacity: 1;
    pointer-events: initial;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: var(--timing-func-decelerate);
    transition-delay: 0.2s;
    animation: DropdownButton-DropdownAnimation 0.2s var(--timing-func-decelerate);
}

@keyframes DropdownButton-DropdownAnimation {
    0% {
        height: 0px;
    }
    99% {
        height: var(--dropdown-height);
    }
    100% {
        height: auto;
    }
}

.DropdownButton>.DropdownButton-Options>.DropdownButton-Option>.DropdownButton-Option-Button {
    border: none;
    outline: none;
    text-align: left;
    margin: 2px;
    padding: 6px 12px;
    width: calc(100% - 4px);
    background-color: transparent;
    border-radius: 6px;
    transform: translateY(calc(-1 * var(--dropdown-height)));
    transition: all 0.2s var(--timing-func-decelerate);
}

.DropdownButton>.DropdownButton-Options.open>.DropdownButton-Option>.DropdownButton-Option-Button {
    transform: none;
}

.DropdownButton>.DropdownButton-Options>.DropdownButton-Option>.DropdownButton-Option-Button:hover, .DropdownButton>.DropdownButton-Options>.DropdownButton-Option>.DropdownButton-Option-Button:focus-visible {
    background-color: var(--grey-2);
}

.DropdownButton>.DropdownButton-Options>.DropdownButton-Option>.DropdownButton-Option-Button:active {
    background-color: var(--grey-1);
}