.NavigationView {
    display: flex;
    width: 100%;
}

.NavigationView>.Navigation {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-width: 320px;
    height: calc(100vh - 48px);
}

.NavigationView>.Navigation>.Navigation-Item {
    text-align: left;
    margin: 4px;
    padding: 10px 14px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    user-select: none;
}

.NavigationView>.Navigation>.Navigation-Item:hover, .NavigationView>.Navigation>.Navigation-Item:focus-visible {
    background-color: var(--navigation-item-bg-hover);
}

.NavigationView>.Navigation>.Navigation-Item:active {
    background-color: var(--navigation-item-bg-active);
}

.NavigationView>.Navigation>.Navigation-Item.Selected {
    background-color: var(--navigation-item-bg-hover);
}

.NavigationView>.Navigation>.Navigation-Item::after {
    content: '';
    position: relative;
    top: -50%;
    left: -14px;
    width: 3px;
    height: 0;
    display: block;
    border-radius: 3px;
    background-color: var(--accent);
}

.NavigationView>.Navigation>.Navigation-Item.Selected::after {
    top: calc(-50% - 7px);
    height: 14px;
    transition: all 0.15s;
}

.NavigationView>.Navigation>.Navigation-Item>.Navigation-Item-Icon {
    margin-right: 16px;
}

.NavigationView>.Navigation-Frame {
    width: 100%;
    background-color: var(--navigation-frame-bg);
    border-top-left-radius: 12px;
    border: 1px solid var(--navigation-frame-border);
}