* {
    cursor: default;
}

body {
    background: #fff;
}

body.dark {
    background: #000;
}

.popup-selector-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.popup-selector-mask.show {
    pointer-events: initial;
}

.popup-selector {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: var(--left);
    top: var(--top);
    background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.065);
    backdrop-filter: blur(32px) saturate(1.2);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    transition-property: opacity, transform;
    transition-duration: 0.25s;
    opacity: 0;
    transform: scale(0.95) translate(-2.5%, -2.5%);
}

.popup-selector.show {
    opacity: 1;
    transform: none;
}

.popup-selector-item {
    font-size: 14px;
    padding: 8px;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: default;
    user-select: none;
    transition: background-color 0.15s;
}

.popup-selector-item:hover, .popup-selector-item:focus {
    background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.055);
}

.popup-selector-item:active {
    background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.025);
}

.app {
    align-items: center;
    justify-content: flex-start;
}

.drag-area {
    -webkit-app-region: drag;
    width: 100%;
    height: 38px;
}

[data-platform="win32"] .drag-area {
    height: 29px;
}

.win32-window-controls {
    display: none;
}

[data-platform="win32"] .win32-window-controls {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(46px * 3);
    -webkit-app-region: no-drag;
}

.win32-window-controls .control {
    width: 100%;
    height: 32px;
    display: block;
    background-color: transparent;
    cursor: default;
}

.win32-window-controls .control:hover {
    background-color: #8884;
}

.win32-window-controls .control:active {
    background-color: #8883;
}

.win32-window-controls .control#close:hover {
    background-color: #c42b1c;
}

.win32-window-controls .control#close:active {
    background-color: #b3271d;
}

.segment {
    margin-top: 4px;
    width: 240px;
}

.segment .selected-key {
    margin: 0;
    margin-bottom: 4px;
}

.key-selector {
    position: absolute;
}

.io-area {
    display: flex;
    width: 80%;
    margin-top: 20px;
    height: 240px;
    background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.065);
    padding: 12px;
    border-radius: 8px;
}

.io-area * {
    cursor: text;
}

.io-area .right {
    border-left: 1px solid var(--ion-color-light);
}

.io-area>* {
    width: 50%;
}

.io-area .input, .io-area .input * {
    height: 100%;
}

.io-area .output {
    margin: 0;
}