* {
    cursor: default;
}

.app {
    align-items: center;
    justify-content: flex-start;
}

.drag-area {
    -webkit-app-region: drag;
    width: 100%;
    height: 38px;
}

[data-platform="win32"] .drag-area {
    height: 29px;
}

.win32-window-controls {
    display: none;
}

[data-platform="win32"] .win32-window-controls {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(46px * 3);
    -webkit-app-region: no-drag;
}

.win32-window-controls .control {
    width: 100%;
    height: 32px;
    display: block;
    background-color: transparent;
    cursor: default;
}

.win32-window-controls .control:hover {
    background-color: #8884;
}

.win32-window-controls .control:active {
    background-color: #8883;
}

.win32-window-controls .control#close:hover {
    background-color: #c42b1c;
}

.win32-window-controls .control#close:active {
    background-color: #b3271d;
}

.segment {
    width: 240px;
}

.io-area {
    display: flex;
    width: 80%;
    margin-top: 20px;
    height: 240px;
}

.io-area .input textarea {
    padding: 12px;
}

.io-area .output {
    margin: 0;
    width: 50%;
    border-left: 1px solid var(--ion-color-light);
    padding: 12px;
}